body,
form button,
form input {
    font-family: "Oxygen Mono", "Courier New", Courier, monospace;
}

body {
    background-image: url("/static/lockbg.png");
}

.logo {
    color: black;
    text-decoration: none;
}

.logo img,
.logo h1 {
    display: inline-block;
}

h1, img, body, div, span, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

body,
html {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    width: 90%;
    max-width: 360px;
    padding-bottom: 60px;
}

form {
    border: 2px solid black;
    padding: 8px;
    padding-bottom: 20px;
    background-color: white;
}

form legend {
    font-weight: bold;
    margin: 4px;
    border-bottom: 1px solid black;
}

form label,
form input {
    display: block;
    width: 80%;
    margin-left: 10%;
}

form input {
    padding: 4px;
    margin-top: 2px;
}

form button {
    margin-left: 10%;
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    box-shadow: 4px 4px 0 0 #b4dd9f;
    transition: .01s linear;
}

form button:hover {
    background-color: #e3e3e3;
}

form button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 #b4dd9f;
}

form input {
    border: 1px solid black;
}

form input:focus {
    border: 1px solid #61a73e;
}

form .error {
    float: right;
    padding-top: 8px;
    margin-right: 10%;
    color: #962424;
}

.nav {
    list-style-type: none;
}

.nav a[href] {
    color: #5b9c3a;
}

.nav a[href]:hover {
    color: #325720;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.python-powered {
    opacity: 0.4;
    float: right;
    margin-right: 6px;
    text-decoration: none;
    height: 40px;
}
.python-powered:hover {
    opacity: 1;
}

.vim-powered {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 6px;
    opacity: 0.4;
    background-color: #61a73e;
    text-decoration: none;
}

.vim-powered:hover {
    opacity: 1;
}

.vim-powered .vim {
    display: inline-block;
    background-color: #222;
    color: #61a73e;
    height: 100%;
    width: 30%;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.vim-powered .powered {
    display: inline-block;
    color: #222;
    width: 70%;
    height: 100%;
    float: right;
    margin-top: 4px;
    font-size: 11px;
}

.vim-powered .powered strong {
    font-size: 13px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}
