{% extends 'layout.html' %}

{% block title %}login - {{ super() }}{% endblock %}

{% block content %}
  <form method="POST">
    <legend>authenticate</legend>

    {{ form.csrf_token }}

    <p>
      {{ form.username.label }}
      {{ form.username }}
    </p>

    <p>
      {{ form.password.label }}
      {{ form.password }}
    </p>

    {% if form.errors %}
      <span class="error">{{ form.errors.username|first or form.errors.values()|first|first }}</span>
    {% endif %}
    <button>login</button>
  </form>
{% endblock %}
