{% extends 'layout.html' %}

{% block title %}regsiter - {{ super() }}{% endblock %}

{% block content %}
  <form method="POST">
    <legend>create account</legend>

    {{ form.csrf_token }}

    <p>
      {{ form.username.label }}
      {{ form.username }}
    </p>

    <p>
      {{ form.password.label }}
      {{ form.password }}
    </p>

    <p>
      {{ form.confirm_password.label }}
      {{ form.confirm_password }}
    </p>

    {% if form.errors %}
      <span class="error">{{ form.errors.values()|first|first }}</span>
    {% endif %}
    <button>create</button>
  </form>
{% endblock %}
